@import 'tailwindcss';

@theme {
  --color-blue-one: #1e2e3e;
  --color-blue-two: #507796;
  --color-blue-three: #2a94c8;
  --color-blue-four: #1e2e3e;
  --color-blue-five: #005b96;

  --color-red-one: #b33d40;
  --color-red-two: #d1625b;

  --color-gray-one: #e0e0e0;
  --color-gray-two: #bdc3c7;
  --color-gray-three: #eceeef;

  /* #f7f7f9 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #f7f7f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* for debugging purposes. Return to the original value 0a0a0a */
    --background: #f7f7f9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* use viewport-relative units to cover page fully */
/* body {
  height: 100vh;
  width: 100vw;
} */

/* footer {
  position: fixed;
  bottom: 0;
} */

